/*header stuff here*/
h1 {
    background-color: #ff99c8;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    padding: 30px;
    border-bottom: #FCF6BC solid 6px;
}
/*big stuff here - relating to all parts*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4C1F9;
}
/*why is the bottom so thick when I add the border-bottom? 
added padding to make top and bottom even*/
nav {
    background-color: #FF99C8;
    border-bottom: #FCF6BC solid;
    padding: 5px;
    text-align: center;
}
/* a button! 
 button {
    display: inline; 
    background: #FCF6BC;
    border: none;
    margin: 0 50px 0 50px;
    color:rgba(49, 182, 182, 0.945);
    text-align: center;
} */
.menu-links {
    margin: 50px;
}
/*link stuff here
--> want to add hover color to links*/
a:link {
    font-weight: 700;
    color: white;
    text-decoration: none;
  }
a:visited {
    color: #FCF6BC;
}
/*stuff relating to my diary titles here*/
.sidebar {
    background-color: #ff99c8;
    border-style: white solid;
    padding: 10px;
    width: 15%;
    height: 100%;
    float: left;
}
ul {
    list-style: none;
}
section {
    margin-left: 25%;
}
section:last-of-type {
    margin-bottom: 150px;
}
article {
    display: inline-block;
    width: 70%;
    font-size: 14px;
    border-width: 2px;
    border-color: rgba(49, 182, 182, 0.945);
    background-color: #31b6b6f1;
    border-bottom: #FCF6BC solid;
    padding: 10px;
}
article.lavender-blue {
    background-color: #A2D2FF;
}
article.aero-blue {
    background-color: #D0F4DE;
}
article.uranian-blue {
    background-color: #a9def9;
}
h4 {
    width: 70%;
    font-weight:700; 
    font-style: italic;
    border-width: 2px;
    background-color: #ff99c8;
    border-bottom: #FCF6BC solid 2px;
    padding:2px 10px;
}
/*footer is fixed but hides content above
I'm thinking I need to add margin to bottom of the last <section>?*/
footer {
    position: fixed;
    left: o;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: #FF99C8;
    border-bottom: #FCF6BC solid 6px;
    padding: 20px;
    margin-top: 15px;
}
.date {
    color:white;
    font-size: 16px;
}