/*header stuff here
im not sure but the font-size 
isnt working is it?*/
h1 {
    background-color: rgb(233, 122, 122);
    text-align: center;
    font-size: 32px;
    font-style: italic;
    padding: 30px;
    border-bottom: white solid 6px;
}
/*big stuff here - relating to all parts*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(241, 190, 194)
}
/*link stuff here*/
a:link {
    font-weight: 700;
    color: rgb(209, 112, 128);
    text-decoration: none;
  }
a:visited {
    color: rgb(163, 88, 101);
}
/*stuff relating to my diary titles here*/
article {
    width: 70%;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(49, 182, 182, 0.945);
    background-color: rgba(49, 182, 182, 0.945);
    border-bottom: white solid;
    padding: 10px;
}
h4 {
    width: 70%;
    font-weight:700; 
    font-style: italic;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(49, 182, 182, 0.945);
    background-color: rgba(49, 182, 182, 0.945);
    border-bottom: white solid;
    padding:2px 10px;
}
/*I do not get how to make the footer fixed*/
footer {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: rgb(233, 122, 122);
    border-bottom: white solid 6px;
}
.date {
    color:white;
    font-size: 16px;
}